<app-sidenav></app-sidenav>
<div class="accountFormContainer fishes">

    <div class="accountFormTitleButton">
    <h4 class="accountFormTitle">MY OFFERS</h4>
    </div>

  
      <div class="accountFishCard"  *ngFor="let offer of offers">
        <div class="accountFishCardHeader"><img src="{{offer.fish.image}}" ></div>
        <div class="accountFishCardDetail">
          <ul>
              <li>Highest offer: €{{ offer.bid }}</li>
              <li>Started at:<br> {{ offer.started_at }}</li>
              <li>Ends At:<br> {{ offer.ended_at }} </li>
              <li>Seller:<br> {{ offer.seller.email }} </li>
              <li>Fish name:<br> {{ offer.fish.name }} </li>
              <li>Highest bidder:<br> {{ offer.bidder.email }} </li>
              <li>Status:<br> {{ offer.statuses.name }} </li>
              <li><button class="accountFishCardButton gavelButton" routerLink="/auctions/select/{{offer.id}}" >BID<i class="fas fa-gavel"></i></button></li>
          </ul>
        </div>
      </div>
</div>