<div class="containerLogin passwordResetResponse">

    <div class="passwordResetHeader">
        CHANGE PASSWORD
      </div>

    <form #responseResetForm=ngForm (ngSubmit)="onSubmit()" action="" method="get">

        <div class="input-field-form-container passwordReset response first">
            <input  class="input-field-form" type="email" placeholder="Email" name="email" [(ngModel)]="form.email" required>
            <i class="fas fa-envelope formIcon"></i>
        </div>
        <div class="formAlert-register" [hidden]="!error.email">{{ error.email }}</div>

        <div class="input-field-form-container passwordReset response">
            <input  class="input-field-form" type="password" placeholder="New Password" name="password" [(ngModel)]="form.password" required>
            <i class="fas fa-unlock formIcon"></i>
        </div>
        <div class="formAlert-register" [hidden]="!error.password">{{ error.password }}</div> 

        <div class="input-field-form-container passwordReset response">
            <input  class="input-field-form" type="password" placeholder="Confirm New Password"  name="password_confirmation" [(ngModel)]="form.password_confirmation" required>
            <i class="fas fa-lock formIcon"></i>
        </div>
        <div class="formAlert-register" [hidden]="!error.password_confirmation">{{ error.password_confirmation }}</div>

        <button class="formBtn passwordReset"  type="submit" [disabled]="!responseResetForm.valid">CONFIRM</button>

    </form>


</div>