
.accountFormContainer.fishes {
    //text-align: center;
}

.accountFormTitleButton {
    border: none;
    //width: 100%;
 

    .accountFormTitle, .accountFormButton {
        // display: inline-block;
        background-color: map-get($colors, 'bloodreina');
        color: map-get($colors, 'snow');
        font-size: 10px;
        letter-spacing: 1px;
        word-spacing: 0.5px;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
    .accountFormTitle {
        padding: 10px;
        margin-top: 0px;
        text-align: center;
        //width: 100%;
    }
    .accountFormButton {
        border: none;
        box-shadow: none;
        padding: 10px;
        margin-bottom: 20px;
        font-size: 9px;
        letter-spacing: 1px;
        word-spacing: 1px;
        text-transform: uppercase;
        width: 20%;
        margin-left: 20px;
        cursor: pointer;
        border: 1px solid map-get($colors, 'slate');
        &:hover {
            transition: 1s;
            color: map-get($colors, 'bloodreina');;
            background-color: map-get($colors, 'midnight');
            border: 1px solid rgba(255, 255, 255, 0.6);
        }
    }
}

.accountFishCardButton {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 25px;
    font-size: 11px;
    color: map-get($colors, 'snow');
    background-color: map-get($colors, 'bloodreina');
    text-transform: uppercase;
    margin: 4px 0;
    border: 1px solid map-get($colors, 'slate');
    &:hover {
        transition: 0.7s;
        color: map-get($colors, 'bloodreina');
        background-color: map-get($colors, 'midnight');
        border: 1px solid rgba(255, 255, 255, 0.6);
    }
}



.accountFishCard {
    display:inline-block;
    margin: 0 20px 30px;
    width: 150px;
    border: 3px solid map-get($colors, 'bloodreina');
    text-align: center;
    font-size: 13px;
    .accountFishCardHeader{
        background-color: map-get($colors, 'bloodreina');
        width: 150px;
        height: 150px;
        img {
            box-sizing: border-box;
            border: 2px solid map-get($colors, 'bloodreina');
            border-bottom: 5px solid map-get($colors, 'bloodreina');
            min-width: 150px;
            max-width: 100%;
            max-height: 100%;
        }
    }

    .accountFishCardDetail {
        background-color: map-get($colors, 'slate');
        width: 150px;
        ul {
            padding: 0;
            list-style-type: none;
            margin: 0px;
        }
        li {
            text-align: left;
            border-bottom: 3px solid map-get($colors, 'bloodreina');
            color: rgba(255, 255, 255, 0.6);
            overflow: hidden;
            //background-color: map-get($colors, 'bloodreina');
            padding: 5px;
            &:last-child {
                border-bottom: none;
                text-align: center;
            }
        }
    }
}

@include breakpoint(mobilewide) { 
    .accountFishCard {
        margin: 0 20px 30px;
    }
    .accountFishCardButton {
        padding: 25px;
        font-size: 15px;
    }
}

@include breakpoint(tablet) {
    .accountFormTitleButton { 
        .accountFormTitle {
            //width: 100%;
            margin-bottom: 20px;
            font-size: 30px;
            letter-spacing: 3px;
            word-spacing: 1px;
        }
        .accountFormButton {
            padding: 10px;
            margin-bottom: 20px;
            font-size: 15px;
            letter-spacing: 3px;
            word-spacing: 1px;
            width: 25%;
        }
    }

}
