<div class="containerLogin passwordReset">

    <div class="passwordResetHeader">
      RESET PASSWORD
    </div>


    <form #requestResetForm=ngForm (ngSubmit)="onSubmit()">

      <div class="input-field-form-container passwordReset">
          <input class="input-field-form" type="email" name="email"  placeholder="Email" [(ngModel)]="form.email" required>
          <i class="fas fa-envelope formIcon"></i>
      </div>       
           
        <button class="formBtn passwordReset" [disabled]="!requestResetForm.valid"  type="submit">SEND</button>

    </form>


</div>
