<div class="containerLogin register">

    <div>

      <form #registerForm=ngForm (ngSubmit)="onSubmit()">
          <h2 class="formTitle">REGISTER</h2><i class="fas fa-user-plus formIcon floatRight backgroundRed formKey-register"></i>  

          <div class="input-field-form-container register">
         <input class="input-field-form" type="text" name="username" placeholder="Username" [(ngModel)]="form.username" required>
         <i class="fas fa-user formIcon"></i>
          </div>
          <div class="formAlert-register" [hidden]="!error">{{ error.username }}</div>

          <div class="input-field-form-container register">
         <input class="input-field-form" placeholder="Email" type="email" name="email" [(ngModel)]="form.email" required>
         <i class="fas fa-envelope formIcon"></i>
        </div>
        <div class="formAlert-register" [hidden]="!error">{{ error.email }}</div>

          <div class="input-field-form-container register">
         <input class="input-field-form"  type="password" placeholder="Password"  name="password" [(ngModel)]="form.password" required>
         <i class="fas fa-unlock formIcon"></i>
      </div>
      <div class="formAlert-register" [hidden]="!error">{{ error.password }}</div>

        <div class="input-field-form-container register last">
          <input class="input-field-form"  type="password" placeholder="Confirm Password" name="password_confirmation" [(ngModel)]="form.password_confirmation" required>
          <i class="fas fa-lock formIcon"></i>
        </div>
            
            <button class="formBtn register" type="submit" [disabled]="!registerForm.valid" >REGISTER</button>   

      </form>

    </div> <!-- end login -->

  </div>
