<app-sidenav></app-sidenav>
<div class="accountFormContainer fishes">

    <div class="accountFormTitleButton">
    <h4 class="accountFormTitle">MY BIDS</h4><button class="accountFormButton" routerLink="/account/bids/create">START A BID<i class="fas fa-plus-square"></i></button>
    </div>

  
      <div class="accountFishCard"  *ngFor="let bid of bids">
        <div class="accountFishCardHeader"><img src="{{bid.fish.image}}" ></div>
        <div class="accountFishCardDetail">
          <ul>
              <li>Highest bid: €{{ bid.bid }}</li>
              <!--<li>Created at:{{ bid.created_at }}</li>-->
              <li>Started at: {{ bid.started_at }}</li>
              <li>Ends At:{{ bid.ended_at }} </li>
              <li>Seller: {{ bid.seller.email }} </li>
              <li>Fish name: {{ bid.fish.name }} </li>
              <li>Highest bidder:{{ bid.bidder.email }} </li>
              <li>Status: {{ bid.statuses.name }} </li>
              <li><button class="accountFishCardButton" routerLink="/account/bids/edit/{{bid.id}}" ><i class="fas fa-edit"></i></button>           
                  <button class="accountFishCardButton" (click)=unpublishBid(bid.id)><i class="fas fa-trash-alt"></i></button></li>
          </ul>
        </div>
      </div>
</div>