<div class="containerInfo">
  <h4 class="containerInfoTitle">Terms of Services</h4>
  <p class="containerInfoCaption"><small>This web-site is intended to be a friendly, enjoyable and useful experience, but as with anything concerning any kind of transactions there are risks involved and we strongly advise you to understand all of these terms before joining. If you spot a listing that you feel is violating the general terms and conditions of this web-site as stated below please let us know by contacting us.</small></p>
  
  <h4>Rights To Suspend or Terminate</h4>
  <p>You agree that this web-site, in its own discretion, may terminate any auction or use of the service immediately and without notice if:</p>
  <ul>
  <li>We believe that you are not abiding by the general rules of this web-site.</li>
  <li>You have repeatedly broken a certain term.</li>
  <li>You have listed a suspicious item.</li>
  <li>We believe you to be a non paying bidder.</li>
  </ul>
  
  <p>In most cases when we suspect foul play we will suspend your account/listing whilst we investigate further. If our investigation is conclusive then your account with us will be terminated.</p>
  
  <h4>Your Conduct</h4>
  <p>You are solely responsible for the contents of your actions through this web-site. You must ensure that your participation in the selling or buying of items does not violate any applicable laws or regulations. By this we mean that you must check that you entitled to sell or buy the relevant item and that you are not prohibited from doing so by any law or regulation.</p>
  <p>You must not transmit through the service any unlawful, harassing, libelous, abusive, threatening, harmful, vulgar, obscene or otherwise objectionable material. You must also not transmit any material that encourages conduct that could constitute a criminal offence, give rise to civil liability or otherwise violate any applicable law or regulation.</p>
  
  <h4>Membership</h4>
  <p>Membership to this web-site is only available to those you can form a legally binding contract. This web-site does not permit minors (under 18) to register.</p>
  
  <h4>General Terms</h4>
  <p>This site acts as the window for sellers to conduct auctions and for bidders to bid on sellers' auctions. We are not involved in the actual transaction between buyers and sellers. As a result, we have no control over the quality, safety or legality of the items listed the truth or accuracy of the listings, the ability of sellers to sell items or the ability of buyers to buy items. We cannot and do not control whether or not sellers will complete the sale of items they offer or buyers will complete the purchases of items they have bid on. You understand that this means you cannot sue us for any reason.</p>
  <p>In addition, note that there are risks of dealing with foreign nationals, underage persons or people acting under false pretence.</p>
  <p>This Web-site shall not be responsible for any items sold by Auction, for any damage to items during transit or during the inspection period, nor for misrepresentations and/or breaches of contract by either buyer and/or seller. This web-site shall not be responsible for the cost of procurement of substitute goods or any losses resulting form any goods purchased or obtained.</p>
  <p>This web-site assumes no liability for the content of the listings.</p>
  <p>However if you fall victim of a fraudulent transaction we will assist you as much as we can.</p>
  
  <h4>Site Information</h4>
  <p>AquaLobby, offers the information on this Web site for commercial, educational and informational purposes only.</p>
  
  <h4>Copyright Notice</h4>
  <p>This site is produced by Aqualobby. Unauthorized reproduction of AquaLobby site. Web site and the material and/or information elements that comprise them is strictly prohibited.</p>
  <p>Nothing contained herein shall be construed as conferring, by implication, estoppel or otherwise, any license or right under any patent or trademark of AquaLobby or any third party.</p>
  
  <h4>Laws</h4>
  <p>These Terms of Service shall be governed by and constructed in accordance with the laws of Belgium and any disputes will be decided only by the Judiciary of Belgium.</p>
</div>